
@model examenDAW.Models.Materie

<h2 class="text-center">Adaugare materie</h2>
<br />

@using (Html.BeginForm(controllerName: "Materii", actionName: "New",
             method: FormMethod.Post))
{
    @Html.Label("Nume", "Numele Materiei")
    <br />
    @Html.TextBox("Nume", null, new { @class = "form-control" })
    <br />



    <br />
    <button class="btn btn-success" type="submit">Create</button>

}
